.registration-form {
  text-align: center;
}
.h1 {
  text-align: center;
  margin-top: 30px;
}
.input {
  margin-top: 10px;
  border-width: 1px;
  border-radius: 3px;
}
.signup {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 40px;
  border-radius: 30px;

  background-color: yellow;
  font-style: bold;
  font-family: "Source sans pro", sans-serif;
  font-size: 20px;
  display: block;
  margin: 40px auto 0 auto;
  color: black;
}
.signup:hover {
  background-color: white;
  font-weight: bold;
  opacity: 1;
  box-shadow: 1px 1px 3px #888888;
  transition-duration: 0.2s;
}
.form-box {
  width: 300px; /* fixed width for the square/rectangle */
  margin: 80px auto; /* centers it horizontally + spacing from top */
  padding: 50px; /* space inside the box */
  background-color: #ffffff; /* white box */
  border-radius: 10px; /* rounded corners */
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); /* shadow effect */
}
