.img1 {
  display: block;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.name,
.song {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}
.song {
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  color: yellowgreen;
}
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #434343, black) no-repeat;
  background-size: 40% 100%; /* 70% width, 100% height */
  background-position: center top; /* aligns gradient to the left */
}
.song-details {
  text-align: left;
  color: white;
  margin-left: 480px;
  margin-top: 50px;
}
.play {
  position: absolute; /* take out of normal flow */
  top: 480px; /* adjust vertical position */
  left: 940px; /* adjust horizontal position */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(28, 216, 28);
  border: none;
  cursor: pointer;
}
.play:hover {
  background-color: rgb(9, 106, 4);
}
.triangle {
  position: absolute; /* take out of normal flow */
  top: 495px; /* adjust vertical position */
  left: 960px; /* adjust horizontal position */
  width: 0;
  height: 0;
  border-left: 15px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.song2 {
  text-align: left;
  color: rgb(28, 216, 28);
  margin-left: 480px;
  margin-top: 50px;
}
.song2 h4,
h6 {
  margin: 0;
  padding: 5px;
}
.sym {
  color: rgb(28, 216, 28);
  margin-right: 5px;
  vertical-align: middle;
  font-size: 1em;
}
.song2:hover {
  color: white;
  cursor: pointer;
}

.song3 {
  text-align: left;
  color: white;
  margin-left: 480px;
  margin-top: 35px;
}
.song3 h4,
h6 {
  margin: 0;
  padding: 5px;
}
.song3:hover {
  color: rgb(28, 216, 28);
  cursor: pointer;
}
.heart {
  position: relative; /* take out of normal flow */
  top: -170px; /* adjust vertical position */
  left: 955px; /* adjust horizontal position */
  font-size: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
}
.heart:hover {
  color: red;
}
.share {
  position: relative; /* take out of normal flow */
  top: -100px; /* adjust vertical position */
  left: 920px; /* adjust horizontal position */
  font-size: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
}
.share:hover {
  color: rgb(224, 239, 9);
}
.download {
  position: relative; /* take out of normal flow */
  top: -30px; /* adjust vertical position */
  left: 885px; /* adjust horizontal position */
  font-size: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
}
.download:hover {
  color: rgb(142, 142, 228);
}
